@page
@using RazorPagesIntro.Pages
@* @model ViewModel *@
@model IEnumerable<buildingview> 

@{
    ViewBag.Title = "View_Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">View Data</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">@Html.ActionLink("Dashboard","index")</li>
              <li class="breadcrumb-item">@Html.ActionLink("Intervention","intervention_form")</li>
              <li class="breadcrumb-item active">View Data</li>
              <li class="breadcrumb-item">@Html.ActionLink("Manage Data","manage_data")</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">

            <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Donut Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-6">
            <!-- STACKED BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Stacked Bar Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <h2>Index</h2>

  <p>
      @Html.ActionLink("Create New", "Create")
  </p>
  <table class="table">
      <tr>
          <th>
              @Html.DisplayNameFor(model => model.Id)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.address_of_the_building)
          </th>
      <th></th>
      </tr>

      @foreach (var item in Model) {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Id)
              </td>
          <td>
              @Html.DisplayFor(modelItem => item.address_of_the_building)
          </td>
          <td>
              @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
              @Html.ActionLink("Delete", "Delete", new { id=item.Id })
          </td>
          </tr>
      }

  </table>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  